@charset "UTF-8";

@font-face {
  font-family: 'FrutigerLT-Light';
  src: url('../fonts/FrutigerLT-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FrutigerLT-Light.woff') format('woff'),
       url('../fonts/FrutigerLT-Light.ttf')  format('truetype'),
       url('../fonts/FrutigerLT-Light.svg#FrutigerLT-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FrutigerLT-Bold';
  src: url('../fonts/FrutigerLT-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FrutigerLT-Bold.woff') format('woff'),
       url('../fonts/FrutigerLT-Bold.ttf')  format('truetype'),
       url('../fonts/FrutigerLT-Bold.svg#FrutigerLT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icons-rs";
  src:url("../fonts/icons-rs");
  src:url("../fonts/icons-rs.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons-rs.woff") format("woff"),
    url("../fonts/icons-rs.ttf") format("truetype"),
    url("../fonts/icons-rs.svg#icones-pessoais") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "icons-rs" !important;
  font-size: 16px;
  content: attr(data-icon);
  vertical-align: middle;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons-rs" !important;
  font-size: 16px;
  vertical-align: -3px;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body,html,.row-offcanvas { height:100%; }

body { background: #000; font-family: 'FrutigerLT-Light'; }

ul { list-style-type: none; }

.left { float: left !important; }
.right { float: right !important; }
.center { margin: 0 auto !important; }
.f_none { float: none !important; } 

.clear { clear: both; }

a, a:focus { color: #c6c6c6; }
a:hover { color: #ffffff; }
a:hover, a:focus { text-decoration: none; }
a:hover, a:focus, a:active { outline: none; }

.form-control:focus { border-color: #353535; }
.btn-default:focus { outline: none; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #000;
  border: 0;
}

.glyphicon { color: #c6c6c6; }
.glyphicon:hover { color: #fff; }

.vejamais {
  margin: 40px 0 50px;
  overflow: hidden;
  position: relative;
  width: 100%;
  text-align: center;
  float: left;
}
.vejamais span { background: #000; padding: 0 10px; }
.vejamais span .bt-next {
  display: inline-block;
  background: #000;
  border: 1px solid #999999;
  color: #fff;
  font-family: "FrutigerLT-Light";
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto;
  padding: 12px 15px 12px 15px;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -ms-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}
  .vejamais span .bt-next:hover { background-color: #fff; color: #000; }

.vejamais span .bt-next:after {
  display: inline-block;
  content: " ";
  width: 10px;
  height: 6px;
  background: url(../images/seta-baixo.png) no-repeat 0 -6px;
  margin: 0 0 2px 4px;
}
  .vejamais span .bt-next:hover:after { background-position: 0 0; }

.vejamais hr {
  background: #1a1a1a;
  height: 1px;
  width: 100%;
  margin-top: -21px;
  float: left;
}

/* BOTÃO QUANTIDADE */
.bt-select .caret {
  display: inline-block;
  width: 10px;
  height: 6px;
  background: transparent url(../images/seta-baixo.png) no-repeat;
  border: 0;
  margin: 0 10px 0 10px;
}
.bt-select button { border-left: 1px solid #353535; }

/* BOTÃO PADRÃO */
.bt-padrao {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #999999;
  margin: 1em 0;
  padding: 0.8em 1.4em;  
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
  .bt-padrao:hover { border-color: #fff; }
  .bt-padrao .icone-seta-direita { margin: 2px 0 0 4px; }

  .bt-padrao + .bt-padrao { margin-right: 20px; }

/* SETAS */
.icone-seta-direita {
  display: inline-block;
  width: 6px;
  height: 10px;
  background: transparent url(../images/seta-direita.png) no-repeat;
}
  .icone-seta-direita:hover { background-position: 0 -10px; }

.icone-seta-baixo {
  display: inline-block;
  width: 10px;
  height: 6px;
  background: transparent url(../images/seta-baixo.png) no-repeat;
  margin: 7px 0 0 10px;
}
  .icone-seta-baixo:hover { background-position: 0 -6px; }

.icone-seta-esquerda {
  display: inline-block;
  width: 6px;
  height: 10px;
  background: transparent url(../images/seta-esquerda.png) no-repeat;
}
  .icone-seta-esquerda:hover { background-position: 0 -10px; }

.icone-sacola {
  float: right;
  display: inline-block;
  width: 18px;
  height: 21px;
  background: transparent url(../images/icone-sacola.png) no-repeat;
  margin-left: 6px;
}

/* DROPDOWN MENU */
.dropdown-menu { z-index: 9999; }
.dropdown-menu > li > a { cursor: pointer; color: #c6c6c6; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { background: #c6c6c6; }

/* ESPAÇO BANNERS */
.espaco-banners {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* BOX COM BORDA */
.box-borda {
  border: 1px solid #353535;
  margin-bottom: 15px;
  padding: 15px;
}

/* TÍTULO DAS PÁGINAS */
.titulo {
  position: relative;
  width: 100%;
  height: 85px;
  background: url(../images/bg-titulo.jpg) no-repeat 0 0;
  margin: 60px 0 20px;
}
.titulo .txt {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.titulo .txt h1 {
  margin: 0;
  padding: 40px 35px;
  font-size: 2.6em;
  color: #fff;
}

/* PADRÕES DE TEXTOS */
h1 { font-family: 'FrutigerLT-Light'; }
h2 {
  font-family: 'FrutigerLT-Light';
  font-size: 1.9em;
  color: #c6c6c6;
}
h3 {
  font-family: 'FrutigerLT-Light';
  font-size: 1.3em;
  color: #c6c6c6;
}

p { font-size: 1.1em; color: #606060; }

hr {
  width: 100%;
  border-top: 1px solid #353535;
}

.fff { color: #fff; }


/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left { left: -220px; }

  .row-offcanvas-left.active { left: 0; }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}



/* =======================================
/* SIDEBAR
======================================= */
#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#000;
  float: left;
  height:100%;
  position:relative;
  /*overflow-y:auto;
  overflow-x:hidden;*/
}
#sidebar .logo { margin: 20px 0; }

/* MENU
======================================= */
#sidebar .menu { font-size: 12px; }
#sidebar .menu > li {
  border-bottom: 1px solid #353535;
  text-transform: uppercase;
}
#sidebar .menu > li:last-child { border-bottom: none; }
#sidebar .menu .icone-seta-direita { margin-top: 3px; }

#sidebar .menu .dropdown-menu {
  top: 0;
  left: 215px;
  background-color: rgba(0, 0, 0, .80);
}

#sidebar .nav > li > a { padding: 10px 0; }

/* MENU BASE */
#sidebar .menu-base {
  position: absolute;
  bottom: 10px;
}
#sidebar .menu-base .navbar-form { padding: 0; }
#sidebar .menu-base .navbar-form .btn { padding: 11px 12px; }

/* MENU SECUNDÁRIO */
#sidebar .menu-sec { font-size: 10px; } 
#sidebar .menu-sec > li { text-transform: uppercase; }
#sidebar .menu-sec > li > a { padding: 2px 0; }



/* =======================================
/* MAIN
======================================= */
#main {
  height:100%;
  overflow:auto;
}

/* MENU TOPO
======================================= */
/* MENU TOPO - REDES SOCIAIS */
#main .topo { margin: 10px 0; }
.menu-rs {
  padding-left: 0;
  margin-right: 20px;
  margin-bottom: 0;
  list-style: none;
  display: inline;
  float: left;
}
.menu-rs li {
  float: left;
  padding: 3px;
  padding-right: 5px;
}
.menu-rs li a {
  display: block;
  width: 27px;
  height: 27px;
  background-image: url(../images/sprite-redes-sociais.png);
  background-repeat: no-repeat;
  background-color: transparent;
}
.menu-rs li a.facebook { background-position: 5px -7px; }
.menu-rs li a.instagram { background-position: -30px -8px; }
.menu-rs li a.youtube { background-position: -67px -7px; }

/* MENU TOPO - DIREITA */
.menu-right {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: inline;
}
.menu-right .logo { float: right; width: 120px; }
.menu-right li {
  float: right;
  padding-top: 6px;
  padding-left: 14px;
  text-transform: uppercase;
}
.menu-right li > a { border-left: 1px solid #ccc; padding-left:14px; }
.menu-right li:first-child a, .menu-right li:last-child a { border: 0; }
.menu-right li.pesquisa { padding-top: 0; }
.menu-right li.pesquisa form { display: inline-table; }

.menu-right li.sacola {
  line-height: 2;
  text-transform: none;
}

.menu-right .dropdown > .dropdown-menu {
  top: 159%;
  background-color: rgba(0, 0, 0, .80);
}
.menu-right .dropdown-menu input {
  width: 172px;
  height: 34px;
  color: #c6c6c6;
  background-color: #000;
  border: 1px solid #353535;
  margin-bottom: 10px;
  padding: 0px 10px 0px 10px;
  outline: none;
}
.menu-right .dropdown-menu input.normal { width: 210px; }
.menu-right .dropdown-menu .input-group-btn { vertical-align: top; }
.menu-right .dropdown .btn { padding: 11px 16px; }

.menu-right .dropdown .icone-seta-baixo {}



/* =======================================
/* HOME
======================================= */
/* Banners
======================================= */
.bxslider .slide {
  left: 0;
  width: 100% !important;
}
.bx-wrapper { margin: 0 auto; }
.bx-wrapper .bx-pager.bx-default-pager a {
  box-shadow: inset 0px 3px 2px #2b2b2b;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  box-shadow: inset 0px 3px 2px #676767;
}

.bx-controls.bx-has-pager {
  position: absolute;
  right: 4em;
  z-index: 400;
}
.bx-pager-item { margin-bottom: 10px; }

figure.effect-bubba h2 {
  margin: 0.4em 0;
  padding: 0;
}
figure.effect-bubba h3 {
  margin: 0;
  padding: 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}
figure.effect-bubba p {
  border-top: 1px solid #fff;
  padding: 0.8em 0;
}

/* BANNER DESTAQUE */
figure.effect-bubba.destaque .box-txt {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -25%;
  width: 50%;
}
figure.effect-bubba.destaque .box-txt h2 { font-size: 1.8em;  }
figure.effect-bubba.destaque .box-txt h3 { font-size: 1.2em; }
figure.effect-bubba.destaque .box-txt p {
  font-size: 1em; 
  font-style: italic;
  font-weight: 300;
}
.box-txt h2,
.box-txt h3,
.box-txt p { color: #fff; }

figure.effect-bubba.destaque a {
  display: block;
  width: 40%;
  min-width: 150px;
  background-color: transparent;
  border: 1px solid #fff;
  margin: 1.6em auto;
  padding: 0.8em;  
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
figure.effect-bubba.destaque .icone-seta-direita {
  margin: 2px 0 0 4px;
}

/* BANNER SECUNDÁRIO */
figure.effect-bubba.secundario .box-txt {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -25%;
  width: 50%;
}
figure.effect-bubba.secundario .box-txt h2 { font-size: 1.2em; }
figure.effect-bubba.secundario .box-txt h3 { font-size: 0.8em; }
figure.effect-bubba.secundario .box-txt p { font-size: 0.6em; font-style: italic; }
figure.effect-bubba.secundario .box-txt a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* BANNER TERCIÁRIO */
figure.effect-bubba.terciario { margin: 0; }
figure.effect-bubba.terciario .box-txt {
  position: absolute;
  left: 50%;
  margin-left: -25%;
  width: 50%;
}
figure.effect-bubba.terciario .box-txt h2 {
  font-size: 1em;
  border-top: 1px solid #fff;
  padding: 0.8em 0;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}
figure.effect-bubba.terciario .box-txt h3 {
  font-size: 0.9em;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}
figure.effect-bubba.terciario .box-txt a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* BANNER PUBLICIDADE */

/* Apoio
======================================= */





/* =======================================
/* QUEM SOMOS
======================================= */
#page-quem-somos ul.valores {
  float: left;
  color: #606060;
  margin-right: 100px;
  padding-left: 0;
}

#page-quem-somos ul.valores li:before {
    content: "• ";
    color: #c6c6c6; 
}
#page-quem-somos ul.valores li { margin-bottom: 6px; }

#page-quem-somos .imgs-quem-somos img { margin-bottom: 10px; }

#page-quem-somos .socios { margin: 20px 0 50px; }
#page-quem-somos .socios h2 { font-size: 20px; }

#page-quem-somos ul.facilitadores {
  float: left;
  padding-left: 0;
}
#page-quem-somos ul.facilitadores li {
  position: relative;
  float: left;
  width: 127px;
  height: 127px;
}
#page-quem-somos ul.facilitadores li a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 127px;
  height: 127px;
  font: 300 15px 'FrutigerLT-Light';
  text-align: center;
  padding: 40px 20px;  
  color: rgba(255,255,255,0);
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
#page-quem-somos ul.facilitadores li:hover a {
  opacity: 1;
  color: rgba(255,255,255,1);
}

#page-quem-somos ul.facilitadores li:hover a {
  background-color: rgba(0,0,0,0.5);
}
#page-quem-somos ul.facilitadores li:hover > a::after,
#page-quem-somos ul.facilitadores li:hover > a::before { 
  position: absolute;
  top: 2%;
  right: 2%;
  bottom: 2%;
  left: 2%;
  content:"";

  -webkit-border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  border-top-right-radius: 30px;
  border: 6px solid rgba(255,255,255,0.3);
}

#page-quem-somos ul.facilitadores li p {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 200;
  color: #fff;
  text-align: center;
}




/* =======================================
/* PORTFOLIO DE ATIVIDADES
======================================= */
/* nav tab */
#page-atividades .nav-tabs {
  border-bottom: 1px solid #353535;
}
#page-atividades .nav-tabs > li > a {
  font-size: 1.1em;
  border-radius: 0;
  color: #606060;
}
#page-atividades .nav-tabs > li > a:hover {
  margin-bottom: -1px;
  border-color: #353535;
  border-bottom-color: transparent;
  z-index: 100;
}
#page-atividades .nav-tabs > li.active > a,
#page-atividades .nav-tabs > li.active > a:hover,
#page-atividades .nav-tabs > li.active > a:focus,
#page-atividades .nav-tabs > li.dropdown.open {
  background-color: #000;
  border: 1px solid #353535;
  border-bottom-color: transparent;
}
#page-atividades .nav-tabs > li.dropdown { cursor: pointer; }
#page-atividades .nav-tabs > li.active > a,
#page-atividades .nav-tabs > li.active > a:hover,
#page-atividades .nav-tabs > li.active > a:focus {
  color: #c6c6c6;
  cursor: default;
  background-color: #000;
  border: 1px solid #353535;
  border-bottom-color: transparent;
}
/* conteúdo tab */
#page-atividades .tab-content {
  padding-top: 40px;
  overflow: hidden;
  border: 1px solid #353535;
  border-top: 0;
}
#page-atividades .tab-content a:hover,
#page-atividades .tab-content a:hover > span { color: #fff; }
#page-atividades .tab-content p > span { color: #c6c6c6; }

#page-atividades .tab-content #todos_os_meses a { color: #606060; }

/* accordion */
.panel-default { border-color: #353535; }
.panel-heading { border-radius: 0; }
.panel-group { margin-top: 20px; }
.panel-group .panel { border-radius: 0; }
.panel-default > .panel-heading {
  background-color: #090909;
  color: #fff;
}
.panel-default > .panel-heading:hover { background-color: #000; }
#page-atividades .tab-content .panel-title a {
  display: block;
  content: " ";
  color: #c6c6c6;
  text-transform: uppercase;
  font-size: 14px;
}
#page-atividades .tab-content .panel-title a:hover { color: #fff; }
#page-atividades .tab-content .panel-title a:after {
  content:"\2212";
  float: right;
  font-size: 16px;
}
#page-atividades .tab-content .panel-title a.collapsed:after { content:"\2b"; }

#page-atividades .panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #353535;
  background: #000;
  color: #606060;
}

#page-atividades .table > thead > tr > th {
  color: #606060;
  border-bottom: 1px solid #353535;
}
#page-atividades .table > tbody > tr > td {
  color: #c6c6c6;
  border-bottom: 1px solid #353535;
}

/* informações específicas */
#page-atividades .informacoes {
  clear: both;
  float: right;
  border: 1px solid #353535;
  border-top-width: 0;
  max-width: 307px;
  width: 100%;
  padding: 8px;
  text-align: right;
  color: #c6c6c6;
}
#page-atividades .informacoes button { min-width: 198px; }
#page-atividades .informacoes span {
  float: right;
  font-size: 0.8em;
  text-transform: uppercase;
}
#page-atividades .informacoes span.caret { margin-top: 5px; }
#page-atividades .informacoes .icone-pdf {
  float: right;
  width: 21px;
  height: 23px;
  background: transparent url(../images/icone-pdf.png) no-repeat 0 0;
  margin-left: 10px;
}






/* =======================================
/* DESCONTOS E CONVENIADOS
======================================= */
#page-descontos {}

#page-descontos .table > thead > tr > th {
  color: #606060;
  border-bottom: 1px solid #353535;
}
#page-descontos .table > tbody > tr > td {
  vertical-align: middle;
  color: #c6c6c6;
  border-bottom: 1px solid #353535;
  border-top: 1px solid #353535;
}
#page-descontos .table > tbody tr:nth-child(even) td {
  color: #606060;
}





/* =======================================
/* CONTATO 
======================================= */
#page-contato {}

#page-contato form textarea {
  max-width: 100%;
  max-height: 114px;
}

#page-contato form .form-control { border-right: 1px solid #353535; }
#page-contato form .form-control:focus { border-color: #fff; }

#page-contato form .btn {
  display: block;
  /*width: 110px;*/
  background-color: transparent;
  border: 1px solid #999999;
  padding: 0.8em 1.4em;  
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  float: left;
}
#page-contato form .btn:hover { border-color: #fff; }
#page-contato form .btn .icone-seta-direita { margin: 2px 0 0 4px; }

#page-contato form .status { margin-top: 10px; }





/* =======================================
/* IMPRENSA
======================================= */
#page-imprensa {}

#page-imprensa .barra-opcoes {
  overflow: hidden;
  margin: 40px 0;
  padding: 10px 0;
  border-top: 1px solid #353535;
  border-bottom: 1px solid #353535;
}
#page-imprensa .barra-opcoes a i { font-size: 1.1em; margin-right: 4px; }
#page-imprensa .barra-opcoes a:last-child { margin-right: 40px; }




/* =======================================
/* MINHA SACOLA
======================================= */
#page-sacola {}

#page-sacola .table > thead > tr > th {
  color: #606060;
  border-bottom: 1px solid #353535;
}
#page-sacola .table > tbody > tr > td {
  color: #c6c6c6;
  border-bottom: 1px solid #353535;
  border-top: 1px solid #353535;
}
#page-sacola .table > tbody > tr.valor-final > td { color: #fff; } 
#page-sacola .table .form-control { border-right: 1px solid #353535; }





/* =======================================
/* CADASTRO / LOGIN
======================================= */
#page-cadastro {}
#page-cadastro .form-cadastro .form-control { border-right: 1px solid #353535; }



/* =======================================
/* MEUS PEDIDOS
======================================= */
#page-pedidos {}
/* EVENTOS AGENDADOS */
#page-pedidos .agendados {
  overflow: hidden;
  padding: 26px 0;
  border-bottom: 1px solid #353535;
}
#page-pedidos .agendados .info { border-right: 1px solid #353535; }
#page-pedidos .agendados i { margin-right: 2px; color: #fff; }

/* HISTÓRICO DE EVENTOS */
#page-pedidos .historico {
  overflow: hidden;
  padding: 26px 0;
  border-bottom: 1px solid #353535;
}

#page-pedidos p span { color: #fff; }




/* =======================================
/* BLOG
======================================= */
#blog { overflow: hidden; }
#blog .topo {
  overflow: hidden;
  margin: 20px 0 30px;
}
#blog .posts {
  max-width: 336px;
  margin-bottom: 60px;
}
#blog .posts a {
  display: block;
  position: relative;  
  margin-bottom: 10px;
}
#blog .posts a span {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0,0,0,.7);
  z-index: 900;
  line-height: 3;
  padding-left: 10px;
}

#blog #aside {}
#blog #aside ul li { border-bottom: 1px solid #353535; }
#blog #aside ul li a { text-transform: uppercase; }

#blog #aside ul.marcas {}
#blog #aside ul.marcas li { float: left; border: 0; }



/* =======================================
/* FOOTER
======================================= */
footer {
  overflow: hidden;
  font-size: 0.9em;
  padding-top: 60px;
/*  border-top: 1px solid #353535;*/
}

footer .apoiadores a { display: block; margin-bottom: 10px; }
footer .apoiadores a img { margin: 0 auto; }

footer ul { padding: 0; }
footer ul li {
  float: left;
  margin-right: 10px;
  padding-right: 6px;
  border-right: 1px solid #6f6f6f;
  color: #6f6f6f;
}
footer ul li:last-child { border: 0; }

footer .pagamento p { color: #fff; }
footer .pagamento img { margin-left: 10px; }

footer .direitos,
footer .creditos {
  color: #353535;
  margin-top: 14px;
}





/* ======================================================
/* Screen max-width 1024px
====================================================== */
@media (max-width: 1024px) {

  /* MENU SIDEBAR */
  #sidebar .menu-base { position: relative; margin-top: 30px; }

  /* MENU TOPO - REDES SOCIAIS */
.menu-rs { margin-bottom: 10px; }

  /* BANNER DESTAQUE */
  figure.effect-bubba.destaque .box-txt {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -35%;
    width: 70%;
  }
  figure.effect-bubba.destaque .box-txt h2 { font-size: 1.2em;  }
  figure.effect-bubba.destaque .box-txt h3 { font-size: 0.8em; }
  figure.effect-bubba.destaque .box-txt p {
    font-size: 0.6em; 
    font-style: italic;
    font-weight: 300;
  }

  figure.effect-bubba.secundario .box-txt h2 { font-size: 0.9em; }

  /* ESPAÇO BANNERS */
  .espaco-banners-responsivo {
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
}

/* ======================================================
/* Screen max-width 992px
====================================================== */
@media (max-width: 992px) {
  .menu-right li.sacola { clear: both; }

  #page-pedidos .agendados .info { border-right: 0; }
}

/* ======================================================
/* Screen max-width 768px
====================================================== */
@media (max-width: 768px) {
  .bt-menu-oculto { cursor: pointer; }

  .menu-right .pesquisa { margin: 20px 0 }
}

/*Alterações Backend*/
.filter_month{position: absolute; right: 15px; top: 0;}
.event-item{margin-bottom: 30px;}

/*Cadastro*/

